<h1>StaticPages#admin</h1>
<p>Find me in app/views/static_pages/admin.html.erb</p>
<% if user_signed_in? %>
    <% if current_user.admin? %>
        <h3>Admin user options</h3>
        <a <%= link_to "All users List", "/allusers", :role => "button" %></a><br> 
        <a <%= link_to 'New Item',  new_item_path, :role => "button" %> </a><br>
        <a <%= link_to 'New Category', new_category_path, :role=>"button"  %></a><br>
        <a <%= link_to 'New provenience area', new_provenience_path, :role=>"button" %></a><br>
    <% end %>
<% end %>
