 <div class="mainCont">
    
    <h1>All The People...... So Many People....in this universal store.....</h1>
    
<%# table for all users  %>    
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">User Id </th>
          <th scope="col">Email</th>
          <th scope="col">Admin</th>
          <th scope="col">action</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>User Id:  <%= user.id %> ></td>
            <td>email: <%= user.email %></td>
            <td>Admin: <%= user.admin %></td>
            <td> <a href="/upgrade/<%= user.id %>" class="button">Make Admin</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>