<h3>Thanks, you paid <strong></strong></h3>
<p>Your products are on the way!</p>
<%= image_tag "imageThanks.jpg" %>
<p>See the receipt</p>

<p><a href="/orders/" class="button">View orders list now</a></p>