// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*item pages---------------------*/

.image{
 
  background-color: white;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.image:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}


#custom-nav {  
    -webkit-box-shadow: 10px 20px 20px #0072BA;  
    -moz-box-shadow:    20px 20px 20px #0072BA;  
    box-shadow:         20px 20px 20px #0072BA;  
    z-index:999;  
}

.navbar-nav mr-auto{
    font-size: larger;
    
}



.card {
border:none;
width:auto;
}

.card a:hover {
background-color:transparent;
}

.card-img-top {
width:60%;
max-width:60%;
}

#itemsContainer {
    width: 100%;
    text-align: center;
}

#itemsContainer h1 {
    display: block;
    color: #4CAF50;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.itemhols {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
    width: 31%;
    padding: 10px;
    height: 200px;
}

.itemhols h1 {
    display: block;
    color: #4CAF50;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px
}

.itemhols p {
    display: block;
    color: #4CAF50;
    text-align: center;
    
    text-decoration: none;
    font-size: 16px
}

.itemholsIm {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.itemhols button.btn1 {
    margin-left:-50px;
}

.itemhols a.btn, .itemhols a.btn:visited {
    color:#fff;
    background-color:#282936;
    margin-bottom:10px;
}
.itemhols a.btn:hover {
    background-color:#33354c;
}

p.error {
    color:#f00;
    font-weight:bold;
}

ul.pagination li.page-item.disabled {
    display:none;
}